 

.table {
    @apply border border-gray-300 bg-gray-200 mx-auto
}

.table tr th {
    @apply text-orange-600
}

.table tr th, .table tr td {
    @apply p-[10px] border-[3px] border-gray-100
}

input[type="text"], input[type="date"] {
    @apply p-2 w-full rounded-md
}

button {
    @apply px-6 py-2 bg-orange-500 text-white rounded-md 
}

button:hover { 
    @apply bg-orange-600   transform-gpu transition transition-all duration-700 hover:scale-90; 
}

.required-star {
    @apply text-rose-600 font-bold
}


/* button by zidane */
button.success {
    @apply rounded-md p-2 bg-green-500  text-white
}

button:hover.success { 
    @apply bg-green-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}


button.warning {
    @apply rounded-md p-2 bg-yellow-500 text-white
}

button:hover.warning { 
    @apply bg-yellow-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}

button.danger {
    @apply rounded-md p-2 bg-rose-500  text-white
}

button:hover.danger { 
    @apply bg-rose-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}

 