 .table {
    @apply border border-gray-300 bg-gray-200 mx-auto
}

.table tr th {
    @apply text-white bg-orange-500
}

.table tr th, .table tr td {
    @apply p-[10px] border-[3px] border-gray-100
}

.table tbody tr:hover {
    @apply bg-slate-300
}

input[type="text"], input[type="date"] {
    @apply p-2 w-full rounded-md
}

button {
    @apply px-6 py-2 bg-orange-500 text-white rounded-md 
}

button:hover { 
    @apply bg-orange-600   transform-gpu transition transition-all duration-700 hover:scale-90; 
}

.required-star {
    @apply text-rose-600 font-bold
}


/* button by zidane */
button.success {
    @apply rounded-md p-2 bg-green-500  text-white
}

button:hover.success { 
    @apply bg-green-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}


button.warning {
    @apply rounded-md p-2 bg-yellow-500 text-white
}

button:hover.warning { 
    @apply bg-yellow-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}

button.danger {
    @apply rounded-md p-2 bg-rose-500  text-white
}

button:hover.danger { 
    @apply bg-rose-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}

button.info {
    @apply rounded-md p-2 bg-sky-500 text-white
}

button:hover.info { 
    @apply bg-sky-700  transform-gpu transition transition-all duration-700 hover:scale-90; 
}
  

.uncomplete {
    @apply no-underline;
}

.complete { 
    @apply line-through;
}

.doing {
    @apply text-white font-bold bg-sky-600 p-2
}

.done {
    @apply text-white font-bold bg-green-700 p-2
}

.home {
    @apply border-l-lime-600 border-l-4 mr-2 shadow-xl
}

.research {
    @apply border-l-sky-500 border-l-4 mr-2  shadow-xl
}